DATA_PORTAL_REFRESH_TOKEN=

SUBMISSION_PORTAL_BASE_URL=https://data.microbiomedata.org

# The variables below are only required when running integration tests.
INTEGRATION_TEST_SAMPLE_SET_ID=
INTEGRATION_TEST_USER_FACILITY=
INTEGRATION_TEST_EXPECTED_SAMPLE_NAME=
